@page "/"
@using PTI.BlazorComponents.UI
@using PTI.BlazorComponents.SocialNetworks.LinkedIn
@using PTI.BlazorComponents.SocialNetworks.Twitter

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<TwitterShareButton HashTags="TwitterShareButton,LinkedIn" AddWidgetsScript="true" UrlToShare="https://customerfinder.pticostarica.com" ></TwitterShareButton>
<TwitterShareButton ButtonText="Tweet This. It's Great!!!" AddWidgetsScript="false" UrlToShare="https://www.twitter.com"></TwitterShareButton>
<LinkedInShareButton AddPlatformScript="true"></LinkedInShareButton>
<LinkedInShareButton UrlToShare="http://www.microsoft.com"></LinkedInShareButton>
<LinkedInShareButton UrlToShare="https://customerfinder.pticostarica.com"></LinkedInShareButton>
<PTI.BlazorComponents.UI.DataGrid GridTitle="This is a test" DataItems="PersonsList"
                                  AutogenerateColumns="false"
                                  DisplayGridTitle="true">
    <UserDefinedColumns Context="tst">
        <DataGridColumn Name="Age" Caption="Person Age">
            @tst.Caption
        </DataGridColumn>
        <DataGridColumn Name="Name" Caption="Person Name">
            <strong>
                @tst.Caption
            </strong>
        </DataGridColumn>
        <DataGridColumn Name="LastName" Caption="Person Last Name"></DataGridColumn>
    </UserDefinedColumns>
</PTI.BlazorComponents.UI.DataGrid>

@code
{
    public class Person
    {
        public string Name { get; set; }
        public string LastName { get; set; }
        public int Age { get; set; }
    }

    private IQueryable<object> PersonsList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Random rnd = new Random();
        List<object> persons = new List<object>();
        persons.Add(new Person()
        {
            Name = "Jill",
            LastName = "Roberts",
            Age = rnd.Next(10, 78)
        });
        persons.Add(new Person()
        {
            Name = "Peter",
            LastName = "Williams",
            Age = rnd.Next(10, 78)
        });
        persons.Add(new Person()
        {
            Name = "Amanda",
            LastName = "Clark",
            Age = rnd.Next(10, 78)
        });
        persons.Add(new Person()
        {
            Name = "Fredrick",
            LastName = "Hayes",
            Age = rnd.Next(10, 78)
        });
        this.PersonsList = persons.AsQueryable();
    }
}